@{
    ViewData["Title"] = "Demo For Azure DevOps";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Azure DevOps Demo Site</h1>
        <h5>This Website is Developed to Demonstrate CI/CD Using Azure DevOps Pipelines</h5>
        <p>You can visit the <a href="https://github.com/aneeqSDET/AzureDemo">Git Repo For This Demo</a>.</p>
        <p>You can also view the <a href="https://whynottestit.visualstudio.com/Azure%20Demo">Azure DevOps Project For This Demo</a>.</p>
        <!--
        <button type="button" class="alert alert-info">
        <span aria-hidden="true">Check if AbacusNext Site is Up</span>
        </button>
        -->
    </div>