@{
    ViewData["Title"] = "Demo For Azure DevOps";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to This Demo Site</h1>
        <h5>This is Website is Developed to Demonstrate CI/CD Using Azure Pipelines</h5>
        <p>You can visit the <a href="https://github.com/aneeqSDET/DemoWebsite">Git Repo For This Demo</a>.</p>
        <p>You can also view the <a href="https://whynottestit.visualstudio.com/DemoWebsite">Azure DevOps Project For This Demo</a>.</p>
    </div>